@{
    ViewBag.Title = "采购单审批";
}
<script type="text/javascript">
    $(function () {
        loadPurchaseOpIds();
    })

    function loadPurchaseOpIds() {
        $('#purchaseOpId').combobox({
            textField: 'PurchaseOpId',
            valueField: 'PurchaseOpId',
            url: '@Url.Action("GetPurchaseOpIds")'
        });
    }

    function searchPurchase() {
        var lastIndex = -1;
        $('#purchaseGrid').datagrid({
            title: '采购单信息',
            width: 1000,
            url: '@Url.Action("GetForApprovedPurchaseOp")',
            collapsible: true,
            pagination: true,
            singleSelect: true,
            queryParams: {
                purchaseOpId: $('#purchaseOpId').combobox('getValue')
            },
            columns: [[
             { field: 'PurchaseOpId', width: 150, title: '采购单号' },
             { field: 'CustomerName', width: 160, title: '采购客户' },
             { field: 'ProductName', width: 150, title: '采购品种' },
             { field: 'AppQty', width: 60, title: '申请数量' },
             { field: 'AprQty', align: 'right', width: 60, title: '审批数量', editor: 'numberbox', styler: function () {
                 return 'color:Red; font-size:large;'
             } },
             { field: 'Appor', width: 100, title: '申请人' },
             { field: 'AppDate', width: 100, title: '申请日期' },
             { field: 'Date', width: 100, title: '采购日期' }
            ]],
            onClickRow: function (rowIndex) {
                if (lastIndex != rowIndex) {
                    $('#purchaseGrid').datagrid('endEdit', lastIndex);
                    $('#purchaseGrid').datagrid('beginEdit', rowIndex);
                }
                lastIndex = rowIndex;
            }
            ,
            onAfterEdit: function (index, row) {
                row.editing = false; $('#purchaseGrid').datagrid('refreshRow', index);
            }
        });

        $('#optd').show();
    }

    function purchaseApprove(state) {
        var purchase = {};
        var rows = $('#purchaseGrid').datagrid('getData').rows;
        purchase.ID = $('#purchaseOpId').combobox('getValue');
        purchase.State = state;

        for (var i = 0; i < rows.length; i++) {
            $('#purchaseGrid').datagrid('endEdit', i);
            purchase['PurchaseOpDetails[' + i + '].AprQty'] = rows[i].AprQty;
        }
        $.ajax({
            url: '@Url.Action("PurchaseApprove")',
            type: 'POST',
            data: purchase,
            success: function () {
                loadPurchaseOpIds();
                searchPurchase();
                onSuccess();
            }
        })
    }

    function onSuccess() {
        $.messager.alert("消息", "操作成功!");
    }    
</script>

<table width="100%">
    <tr><td  colspan="2" align="center" style="font-size:large;">采购单审批</td></tr>
    <tr>
    <td><table><tr>
    <td>采购单号:</td><td><input id="purchaseOpId" type="text" value="--请选择--" style="width:160px;" /></td>
    <td align="left"><a href="#" id="btnSearch" class="easyui-linkbutton" iconCls="icon-search" onclick="searchPurchase();">查询采购单</a></td>
    </tr></table></td>
    </tr>
    <tr><td align="center" colspan="3"><table id="purchaseGrid"></table></td></tr>
    <tr>
    <td id="optd" align="center" colspan="2" style="display:none;"><table width="40%">
    <tr>
     <td><a href="#" id="btnRK" class="easyui-linkbutton" iconCls="icon-search" onclick="purchaseApprove('认可');">认可</a></td>
    <td><a href="#" id="btnFJ" class="easyui-linkbutton" iconCls="icon-search" onclick="purchaseApprove('否决');">否决</a></td>
    </tr></table></td>
    </tr>
</table>