@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section  Head{
    <script type="text/javascript">
        $(function(){
            var grid = $('#grid').datagrid({
                title: '产品管理',
                iconCls: 'icon-save',
                method: 'post',
                url: '/Home/LoadProductjson',
                sortName: 'GetDate',
                sortOrder: 'asc',
                idField: 'ID',
                pageSize: 20,
                striped: true,
                frozenColumns: [[
                    { field: 'ck', checkbox: true }
                ]],
                columns: [[
                            { field: 'ID', title: '编号', width: 50, sortable: true, rowspan: 2 },
                            {
                                field: 'Image', title: '产品图片', width: 60, rowspan: 2, align: 'center', formatter: function (value, row, index) {

                                    return "<img src='" + row.Image + "' alt='" + row.ProductName + "' width='60px',higth='60px' />";
                                }

                            },
                            { field: 'ProductTypeName', title: '所属类型', width: 100, sortable: true, rowspan: 2 },
                            { field: 'ProductName', title: '产品名称', width: 150, sortable: true, rowspan: 2 },
                            { title: '价格(单位：元)', colspan: 2 },
                            { field: 'GetDate', title: '录入/修改时间', width: 120, sortable: true, align: 'center', rowspan: 2 },
                            {
                                field: 'Enable', title: '状态', width: 50, rowspan: 2, formatter: function (value, row, index) {
                                    if (row.Enable) {

                                        return "出售中";
                                    } else {

                                        return "已下架";
                                    }
                                }, styler: function (value, row, index) {
                                    if (!row.Enabled) {
                                        return 'background-color:#ffee00;color:red;';
                                    }
                                }

                            }

                ], [{ field: 'MarketPrice', title: '市场价', width: 80, sortable: true },
                            { field: 'NewPrice', title: '真实价', width: 80, sortable: true }]
                ],
                fit: true,
                pagination: true,
                rownumbers: true,
                fitColumns: true,
                singleSelect: false,
                //toolbar: [{
                //    text: '新增',
                //    iconCls: 'icon-add',
                //    handler: add
                //}, '-', {
                //    text: '修改',
                //    iconCls: 'icon-edit',
                //    handler: edit
                //}, '-', {
                //    text: '删除',
                //    iconCls: 'icon-remove',
                //    handler: del
                //}, '-', {
                //    text: '高级搜索',
                //    iconCls: 'icon-search',
                //    handler: OpensearchWin
                //}, '-', {
                //    text: '所有',
                //    iconCls: 'icon-search',
                //    handler: showAll
                //}],
                onDblClickRow: function (rowIndex, rowData) {  //双击事件
                    dlg_Edit.dialog('open');
                    dlg_Edit_form.form('clear'); //清除之前面选中的表单
                    dlg_Edit.dialog('setTitle', '您正在查看的是：' + rowData.ProductTypeName + "->" + rowData.ProductName);

                    dlg_Edit_form.form('load', rowData); //加载到表单的控件上  

                    dlg_Edit_form.url = virpath + '/Admin/UpdateProduct?id=' + rowData.ID;

                }, onHeaderContextMenu: function (e, field) {
                    e.preventDefault();
                    if (!$('#tmenu').length) {
                        createColumnMenu();
                    }
                    $('#tmenu').menu('show', {
                        left: e.pageX,
                        top: e.pageY
                    });
                }

            });
        })
    </script>

<h2>Index</h2>

<div region="center" style="width: 550px; height: 300px; padding: 1px;overflow-y: hidden">
  <div id="grid" >
  </div>
</div>