@{
    ViewBag.Title = "TestTree";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Head{
        <script type="text/javascript">
            $(function () {
                $('#tt').tree({
                    url: '/Home/GetTestTree',
                    onBeforeExpand: function (node, param) {
                        $('#tt').tree('options').url = '/Home/GetTestTreet?i=' + node.id;
                    }
                });
                $('#tt').show();
            });
        </script>
    }

<h2>TestTree</h2>
<div>
    <ul id="tt"></ul>
</div>