<html>
    <head>
        <title>DevExtreme</title>
    </head>
    <body>
        <header></header>
        <div>
           <audio src="">ddd</audio>
        </div>
        <footer>
            
        </footer>
    </body>
</html>

